<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="/CSS/homestyle.css">
</head>
<body>

<div class="navbar">
 <div class="navbar-left">
    <img src="/images/bgGadiBazzar.png" alt="Image">
 </div>
 <div class="navbar-middle">
    <input type="text" placeholder="Search..">
 </div>
 <div class="navbar-right">
    <button>Sell Car</button>
    <a href="/login" style="color: #000000;">
    <button>Sign In</button></a>
 </div>
</div>

</body>
</html>