.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Add this to set the container height to the full viewport height */
    border: 2px solid green;
}

.row {
    display: flex;
    border: 2px solid green;
}
#logoDiv {
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid black;
    width: 100px; /* Add a fixed width to the logoDiv */
    height: 100px; /* Add a fixed height to the logoDiv */
}

#imageDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}